  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #702626;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(240, 229, 229);
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
  }
  .content{
    background-color: rgb(190, 161, 139);
  }
  .content.inner{
    margin: 50px;
    border: 5px;
    padding: 10px;
    background-color: rgb(128, 127, 194);
  }
